<div class="modal">
    <div class="modal__content">

        <button class="modal__close" type="button">
            <img src="assets/images/close.svg" alt="close">
        </button>

        <form action="/" class="form" method="post">
    
            <div class="form__group form__group--md">
                <input type="text" class="form__control" placeholder="Your name">
                <span class="form__line"></span>
            </div>
            <div class="form__group form__group--md">
                <input type="email" class="form__control" placeholder="Your email">
                <span class="form__line"></span>
            </div>
        
            <div class="form__group form__group--md">
                <textarea class="form__control form__control--textarea" placeholder="Message text"></textarea>
                <span class="form__line"></span>
            </div>
        
        
            <div class="form__footer">
                <div class="form__group form__group--md">
                    <button class="btn btn--blue btn--rounded btn--sm btn--mb0" type="submit">Send</button>
                </div>
            </div>
            
        </form>

        <ul class="modal__footer">
            <li>
                e-mail: <a href="mailto:evgheni.cojocar@gmail.com">
                evgheni.cojocar@gmail.com</a> 
            </li>
            <li>  
                mob: <a href="tel:+447803039697">+44 78-0303-9697</a>
            </li>  
        </ul> 
        
    </div><!--/.modal__content-->
</div><!--/.modal-->