<div class="modal">
    <div class="modal__content">

        <button class="modal__close" type="button">
            <img src="assets/images/close.svg" alt="close">
        </button>

        <ul class="social">
            <li class="social__item">
                <a href="#" target="_blank" class="social__link">
                    <img src="assets/images/share/facebook.svg" alt="facebook">
                </a>

            </li>
            <li class="social__item">
                <a href="#" target="_blank" class="social__link">
                    <img src="assets/images/share/twitter.svg" alt="twitter">
                </a>

            </li>
            <li class="social__item">
                <a href="#" target="_blank" class="social__link">
                    <img src="assets/images/share/vk.svg" alt="vkontakte">
                </a>

            </li>
            <li class="social__item">
                <a href="#" target="_blank" class="social__link">
                    <img src="assets/images/share/copy.svg" alt="copy-url">
                </a>

            </li>
        </ul>


    </div><!--/.modal__content-->
</div><!--/.modal-->