.add__post{
    margin-bottom: 3rem;
    background-color: $secondary;
    box-shadow: 0 15px 25px
    rgba($black, .45);
    border-radius: .5rem;
    padding: 1.5rem 2rem;

    @include breakpoint($mobile-bp){
        padding: 1.5rem;
    }
}

.add__post__form{
    display: flex;
    align-items: center;
}

.add__post__textarea{
    display: block;
    flex-grow: 1;
    height: 2.6rem;
    border: none;
    background: transparent;
    font-family: inherit;
    font-size: 1.5rem;
    color: $white;
    resize: none;
    overflow: hidden;

    &::placeholder{
        color: #D2D2D2;
    }
}


.add__post__file{
    display: block;
    cursor: pointer;
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
    box-shadow: 0 4px 4px
    rgba($black, .25);
    background: #EBEBEB url("../images/add_post/photocamera.svg") center no-repeat;
    transition: background-color .2s linear;

    input{
        display:none;
    }

    &:hover{
        background-color: darken(#EBEBEB, 5%);
    }

    @include breakpoint($mobile-bp){
        width: 3.5rem;
        height: 3.5rem;
        background-size: 2rem;
    }
}

.add__post__send{
    display: block;
    cursor: pointer;
    width: 4.4rem;
    height: 4.4rem;
    border: none;
    box-shadow: 0 4px 4px
    rgba($black, .25);
    
    border-radius: 50%;
    background: $blue url(../images/add_post/send_arrow.svg) center no-repeat;

    &:hover{
        background-color: darken($blue, 5%);
    }

    @include breakpoint($mobile-bp){
        width: 3.5rem;
        height: 3.5rem;
        // background-size: 1.5rem;
    }
}

.add__post__form__actions{
    width: 12rem;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;

    @include breakpoint($mobile-bp){
        width: 9rem;
    }
}