.cabinet{
    display: flex;

    @include breakpoint($mobile-bp){
        flex-direction: column;
    }
}

.cabinet__form{
    width: 34rem;

    @include breakpoint($mobile-bp){
        order: 2;
    }
}

.cabinet__avatar{
    flex-grow: 1;
    padding-left: 11rem;
    
    img{
        display: block;
        margin-bottom: 1.5rem;
        width: 15rem;
        height: 15rem;
    }

    @include breakpoint($mobile-bp){
        order: 1;
        margin-bottom: 2rem;
        // padding-left: 0;
    }
}

.cabinet__file{
    font-size: 1.4rem;
    color: $blue;
    text-decoration: underline;
    cursor: pointer;

   
    input{
        display: none;
    }

    &:hover{
        text-decoration: none;
    }
}