
.nav__list{
    display: flex;
}
.nav__item{
    position: relative;

    &:hover{
        .nav__link{
            background-color: $blue;
        }

        > .subnav{
            display:block;
        }
    }

}
.nav__link{
    display: block;
    padding: 1.4rem;

    line-height: 1.2;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: $white;
    text-decoration: none;
    transition: background-color .2s linear;



    &.has-subnav{
        position: relative;
        padding-right: 3.5rem;
        &::after{
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-20%);
            right: 1.35rem;

            border-style: solid;
            border-width: 6px 5px 0 5px;
            border-color: $white transparent transparent transparent;

        }
    }
}