.post{
    margin-bottom: 3rem;
    padding: 2.5rem;
    background: $primary;
    box-shadow: 0px 15px 25px rgba($black, 0.35);
    border-radius: .5rem;
    overflow: hidden;

    @include breakpoint($mobile-bp){
        padding: 1.5rem;
    }
    
    
    }

.post__header{
    margin: 0 0 2.5rem;
    
    &--preview{
        margin: -2.5rem -2.5rem 2.5rem;
    }
    
}
.post__image{
    display: block;
    width: 100%;
    height: auto;

}

.post__title{
    font-weight: 500;
    font-size: 18px;
    color: $white;
    margin-bottom: 1.5rem;
    line-height: 1.4;
    
    a{
        color: inherit;
        text-decoration: none;

        &:hover{
            text-decoration: underline ;
        }
    }

    &--open{
        margin: .4rem 0;
    }
}

.post__subtitle{
    font-weight: 500;
    font-size: 1.6rem;
    color: $white;
    margin-bottom: 2rem;
    margin-top: 3rem;
}
.post__description{
    color: $text;
    font-size: 1.4rem;
    line-height: 2.1rem;
}

.post__text{
    padding-bottom: 1rem;
    color: $white;
    font-size: 1.4rem;

    border-bottom: 1px solid #1c1c1c;

    &--mt3{
        margin-top: 3rem;
    }

    h2,h3,h4,h5,h6{
        margin-bottom: 2rem;
        font-weight: 700;
    }
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size: 1.25rem;
    }
    h4{
        font-size: 1.15rem;
    }
    h5,h6{
        font-size: 1rem;
    }
    ul,ol{
    margin-bottom: 2rem;
  
    }
    ol{
        list-style: decimal;
        list-style-position: inside;
    }
    table{
        margin-bottom: 2rem;
        width: 100%;
    }

    p{
        margin-bottom: 2rem;
    }

    img{
        display: block;
        max-width: 100%;
        height: auto;

    }
    a{
        color: $blue;
       
    }
    
}
.post__content{
    margin-bottom: 2rem;
}

.post__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @include breakpoint($mobile-bp){
        flex-direction: column;
        align-items: flex-start;
    }
}

.post__data{
    display: flex;
    color: #828282;
    line-height: 1.2rem;
    font-size: 12px;
    margin-top: 0.5rem;

    @include breakpoint($mobile-bp){
        margin-bottom: 1rem;

        font-size: 1.2rem;
    }
}

.post__data__item{

    &:not(:last-child)::after{
        content: "";
        display: inline-block;
        width: 0.6rem;
        height: 0.6rem;
        background-color: #828282;
        border-radius: 50%;
        margin: 0 1.5rem;
        position: relative;
        top: -.2rem;
    }
}

.post__read{
    font-size: 1.4rem;
    color: #107EFF;
   
}

.post__actions{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    color:$white;

    a{

        opacity: 0.6;
        transition: opacity .2s linear;

        &:hover{
            opacity: 1;
        }
    }
}

.post__actions-icon{
    margin-left: .5rem;
    margin-top: -.1rem;
}



