.subnav{
    display: none;
    width: 16.5rem;
    padding: .5rem 0;

    background-color: $blue;

    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 0 0 .5rem .5rem;
    box-shadow: 0 6px 8px 
    rgba(0, 0, 0, .2);
    
    @include breakpoint($tablet-bp){
        position: static;
        width: 100%;

        background: transparent;
        box-shadow: none;
        padding-left: 1rem;
    }
}

.subnav__link{
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    color: $white;
    padding: .45rem 1.2rem;
    transition: background-color .2s ease-in-out;

    &:hover{
        background-color: darken($blue, 5%);
        text-decoration: none;
    }

    @include breakpoint($tablet-bp){
        padding-left: 0;
        padding-right: 0;

        font-size: 1.5rem;

        &:hover{
            background: none;
        }
    }

}